@model IEnumerable<App.Models.Noticia>
@{
    ViewBag.Title = "Todas Noticias";
}

<h2>Todas Noticias</h2>

<div>
    <ul>
        @foreach (var i in Model)
        {
            <li>
                @Html.ActionLink(i.Titulo, "MostraNoticia", new {
                   @id = i.Id,
                   @categoria = i.Categoria,
                   @titulo = i.Titulo
                }, null)

                <em>@Html.DisplayFor(m => i.Categoria)</em>
                <em><b>@Html.DisplayFor(m => i.Data)</b></em>
            </li>
        }
    </ul>
</div>

